@{
    ViewData["Title"] = "Home Page";
}

@model MultiModel


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Mikroservis Örneği</h2>
        <p>Kullanıcı bilgileri MS1'den, fotolar ise MS2'den gelmektedir.</p>
        <table class="table">
            <thead>
                <tr>
                    <th style="text-align:center" colspan="2">Number 1 MService</th>
                    <th style="text-align:center" colspan="2">Number 2 MService</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>AD</th>
                    <th>Email</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.userData.Count > 0 && Model.usersImages.Count > 0)
                {
                    @foreach (var item in Model.userData)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            @{
                                var x = Model.usersImages.Where(r => r.UserId == item.Id).FirstOrDefault();
                            }
                            <td><img style="max-width:227px;max-height:57px;" src="http://numbertwoapi.docker.localhost/userimage/image?path=@x?.Path.ToString()" /></td>
                        </tr>
                    }
                }
                else if (Model.userData.Count > 0)
                {
                    @foreach (var item in Model.userData)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>Sunucudan Yanıt Yok</td>
                        </tr>
                    }
                }
                else if (Model.usersImages.Count > 0)
                {
                    @foreach (var item in Model.usersImages)
                    {
                        <tr>
                            <td>@item.UserId</td>
                            <td>Sunucudan Yanıt Yok</td>
                            <td>Sunucudan Yanıt Yok</td>
                            <td><img style="max-width:227px;max-height:57px;" src="http://numbertwoapi.docker.localhost/userimage/image?path=@{item.Path.ToString();} " /></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>Sunucudan Yanıt Yok</td>
                        <td>Sunucudan Yanıt Yok</td>
                        <td>Sunucudan Yanıt Yok</td>
                        <td>Sunucudan Yanıt Yok</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a href='@Url.Action("AddUser", "Home")' class="btn btn-success">Kişi Ekle</a>
</body>
</html>
